footer.d-flex.align-items-center
	a(href="").arrow.d-flex.align-items-center
		.arrow-icon-wrap.mr-3
			i.fas.fa-arrow-left
		span Назад
	a(href="tel:08000000000").tel.ml-5 0 800 000 00 00
	.contacts.ml-auto.d-flex.align-items-end.flex-column
		a(href="mailto:offsetonline@mail.com").email offsetonline@mail.com
		span (c)"Offsetonline" 2019
		a(href="") Лицензионное соглашение
	a(href="").arrow.d-flex.align-items-center.ml-4
		.arrow-icon-wrap.mr-3
			i.fas.fa-arrow-right
		span Далее 

