header
	.row
		.col-lg-2
			span.logo LOGO
		.col-lg-10
			.header-nav
				ul.nav.d-flex
					li.nav-item
						a(href="") 
							i.fas.fa-home
					li.nav-item
						a(href="") Офсетная печать
					li.nav-item
						a(href="") Цифровая печать
					li.nav-item
						a(href="") Широкоформатная печать
					li.nav-item
						a(href="") Сувенирная продукция
					li.nav-item.mytemplates.ml-auto
						a(href="") 
							span Мои 
							| шаблоны