main
	.stage.d-flex.align-items-center
		.stage-title-number-wrap
			.stage-title-number
				span 3
		.stage-title.ml-4
			span Загрузите макет
		ul.stage-controls.ml-auto
			li 
				span
				|1
			li 
				span
				|2
			li 
				span
				|3
			li 
				span
				|4