.sidebar
	.dropdown
		a.btn.dropdown-toggle.d-flex.align-items-left.flex-column(href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Ассортимент для
			.d-flex.align-items-center
				span Ростов-на-Дону
				i.fas.fa-angle-down.ml-2
		.dropdown-menu(aria-labelledby="dropdownMenuButton")
			a(href="").dropdown-item Action 1
			a(href="").dropdown-item Action 2
			a(href="").dropdown-item Action 3
	.user.d-flex.align-items-left.flex-column
		a(href="").user-name-info.d-flex.align-items-center.justify-content-between
			.user-name.d-flex.flex-column
				span 000000
				span Username
			.user-icon-wrap
				i.fas.fa-user
		span.balance.mt-2 000 000.00 руб
		.user-controls.d-flex.align-items-center.mt-2
			a(href="")
				i.fas.fa-address-card
			a(href="").ml-3
				i.fas.fa-comment
			a(href="").ml-3
				i.fas.fa-info
			a(href="").ml-auto
				i.fas.fa-power-off
	ul.sidebar-menu
		li
			a(href="").d-flex.align-items-center
				span Новый заказ
				i.fas.fa-plus.ml-auto
		li
			a(href="").d-flex.align-items-center
				span Заказы
				i.fas.fa-clipboard-list.ml-auto
		li
			a(href="").d-flex.align-items-center
				span Финансы
				i.fas.fa-wallet.ml-auto




